* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'VT323', monospace; */
}

.App {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  min-height: 100vh;
}

.App-Content {
  flex: 1;
  background-color: #3b2129;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Components {
  width: 100%;
}

