.DisplayInfoContainer {
  height: 100%;
}

.infoContainer {
  animation: opacity-animation 1s ease-in-out;
  height: 100%;
}

.idContainer {
  color: white;
}

.name {
  font-size: 1.5rem;
  text-align: center;
}

.bio {
  text-align: justify;
}

.dates {
  font-size: 0.9rem;
}

.created {
  text-align: right;
}
