.NavBarContainer {
  height: 100%;
  background-color: black;
}

.navbar {
  height: 100%;
}

.logoWrapper {
  /* Control the size and position of the logo */
  transform: scale(2); /* Adjust the scale factor to make the image larger */
  transform-origin: center; /* Adjust the origin to keep it aligned with the left side */
}

img {
  background-color: black;
}
