.FindUserContainer {
    /* background-color: #3b2129; */
    height: 100%;
    text-align: center;
}

.form {
    height: 84%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.titlePage {
    color: #d1e66c;
    text-align: start;
    transform: font-size 500ms, margin-top 500ms, text-align 500ms;
}

.searchTitlePage {
    text-align: center;
    margin-top: 2%;
    font-size: 2.5rem;
}

.form-control {
    background-color: rgb(191, 191, 191, 0.1);
    border: 1px solid #545454;
    color: #d1e66c;
}

.form-control::placeholder {
    color: white;
}

.form-control:focus {
    background-color: rgba(123, 148, 0, 0.5);
    color: white;
}

.btn {
    background-color: #d1e66c;
    color: #3b2129;
    border: 1px solid #d1e66c;
}

.btn-submit {
    min-width: 25%;
    text-transform: uppercase;
}

.btn:hover {
    background-color: rgba(123, 148, 0, 1);
    border: 1px solid #373d1a;
}

@media only screen and (max-width: 576px) {
    .btn-submit {
        width: 100%;
    }

    .searchTitlePage {
        font-size: 2rem;
    }
}


@media only screen and (min-width:577px) and (max-width: 768px) {
    .btn-submit {
        width: 50%;
    }
}

@media only screen and (max-width: 992px) {
    .btn-submit {
        margin-top: 3%;
    }
    .searchTitlePage {
        margin-bottom: 3%;
    }
}

